In [1]:
x = 9

In [2]:
term = 45

In [3]:
import pandas as pd

Importing Necessary Libraries

In [6]:
import tweepy,re
from textblob import TextBlob
import matplotlib.pyplot as plt
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [7]:
# authentication
# these are my credentials for authentication from developers app(https://developer.twitter.com/en/portal/projects/1496233127722860552/apps/23469414/keys)
consumerKey = 'Xd8sONHrOM0iEq98zx7MKGoU2'
consumerSecret = 'XTC374wBkLPjPFvCsXDgOfbBl9njwOPQ3l0Dbq2CF34ust5J8s'
accessToken = '1490710778860777474-IStEjWn7Vkqavam06SbkgyoITz83l2'
accessTokenSecret = 'fFvlUuROEBJBBtTNhIZCZ8LlXAneDvIRHMnp8CFRTZFiK'
auth = tweepy.OAuthHandler(consumerKey, consumerSecret)
auth.set_access_token(accessToken, accessTokenSecret)
api = tweepy.API(auth)

In [8]:
# input for term to be searched and how many tweets to search
searchTerm = input("Enter Keyword/Tag to search about: ")
NoOfTerms = int(input("Enter how many tweets to search: "))

tweets = []
tweetText = []
# searching for tweets
tweets = tweepy.Cursor(api.search_tweets, q=searchTerm+" -filter:retweets", lang = "en").items(NoOfTerms)

In [9]:
tweet_list = [tweet.text for tweet in tweets]
tweet_df = pd.DataFrame(tweet_list)
tweet_df

                                                     0
0    An 88/100 for Geology\n\nThis is one of those ...
1    @ThunderInvest @Ceecee_Freedmen @_SJPeace_ You...
2    @ScottAdamsSays @Foldinginwards However, if a ...
3    @anakinsmybf @chaiteacookie YES, BECAUSE IM NO...
4    100 years ago today. Hat tip to SAADA (S. Asia...
..                                                 ...
995  @tommywang3e @Jfromm1968_CRTD I see but there ...
996  @Techken_Tiff Nope! Now if it was finger tip e...
997  I legit hate the whole sneaker market now beca...
998  @ask_aubry Wait - he can't cover $100, what a ...
999  @PsychoSaikou I’m pretty sure I saw lumi and B...

[1000 rows x 1 columns]

In [10]:
def clean_data(text):
    return ' '.join(re.sub("(@[a-zA-Z0-9]+)|([^0-9A-Za-z])|(https://[\w.]+/[\w]+)", " ", text).split())

tweet_df['cleaned_data'] = tweet_df[0].apply(clean_data)

In [11]:
tweet_df.head()

,0,cleaned_data
0,An 88/100 for Geology\n\nThis is one of those ...,An 88 100 for Geology This is one of those mom...
1,@ThunderInvest @Ceecee_Freedmen @_SJPeace_ You...,Freedmen SJPeace You 100 don t have a PhD sir ...
2,"@ScottAdamsSays @Foldinginwards However, if a ...",However if a physical mechanism is involved it...
3,"@anakinsmybf @chaiteacookie YES, BECAUSE IM NO...",YES BECAUSE IM NOT A PSYCHOPATH I MAY BE MENTA...
4,100 years ago today. Hat tip to SAADA (S. Asia...,100 years ago today Hat tip to SAADA S Asian A...

In [12]:
def drop_numbers(list_text):
    list_text_new = []
    for i in list_text:
        if not re.search('\d', i):
            list_text_new.append(i)
    return ''.join(list_text_new)

tweet_df['cleaned_data'] = tweet_df['cleaned_data'].apply(drop_numbers)

In [13]:
tweet_df.head()

,0,cleaned_data
0,An 88/100 for Geology\n\nThis is one of those ...,An for Geology This is one of those moments ...
1,@ThunderInvest @Ceecee_Freedmen @_SJPeace_ You...,Freedmen SJPeace You don t have a PhD sir I c...
2,"@ScottAdamsSays @Foldinginwards However, if a ...",However if a physical mechanism is involved it...
3,"@anakinsmybf @chaiteacookie YES, BECAUSE IM NO...",YES BECAUSE IM NOT A PSYCHOPATH I MAY BE MENTA...
4,100 years ago today. Hat tip to SAADA (S. Asia...,years ago today Hat tip to SAADA S Asian Amer...

In [14]:
# changing all the words of the reviews column to lowercase letters
def lower_case(text):
    text_words = word_tokenize(text)
    text_words_lower = [x.lower() for x in text_words]
    return ' '.join(text_words_lower)

tweet_df['cleaned_data'] = tweet_df['cleaned_data'].apply(lower_case)